title #{title}
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content="data viz + code + design. currently viz journalist at FiveThirtyEight.")
meta(name='author', content="Ryan Best")
meta(name="twitter:card" content="summary_large_image")
meta(name='twitter:widgets:csp', content='on')
meta(name='twitter:maxage', content='300')
meta(property="og:image" content=require('../../images/share-image.png'))
meta(property="og:title" content="Ryan Best")
meta(property="twitter:image:src" content=require('../../images/share-image.png'))
meta(name="twitter:card" content="summary_large_image")
link(rel='shortcut icon', type='image/x-icon', href=require('../../images/favicon.png'))
link(rel='icon', type='image/x-icon', href=require('../../images/favicon.png'))
meta(charset='UTF-8')