mixin icon(name, url)
  a(href=url)
    img.default(class=`${name}-thumb`, src=require(`../images/social_icons/${name}.png`))
    img.hover(class=`${name}-thumb`, src=require(`../images/social_icons/${name}-highlight.png`))

.social-thumbnails
  +icon('bluesky', 'https://bsky.app/profile/ryanabest.bsky.social')
  +icon('x', 'https://x.com/ryanabest')
  +icon('linkedin', 'https://www.linkedin.com/in/ryan-best-03722482/')
  +icon('github', 'https://github.com/ryanabest')